<!-- -->
<launch>

  <!-- send table.xml to param server -->
  <arg name="range" default="1.0" />
  <arg name="shift" default="0.3" />
  <arg name="use_openmp" default="false" />

  <!-- rosrun ndt_localizer ndt_mapping  -->
  <node pkg="ndt_slam" type="vis_ndt_localize" name="vis_ndt_localize" output="screen">
    <param name="range" value="$(arg range)" />
    <param name="shift" value="$(arg shift)" />
    <param name="use_openmp" value="$(arg use_openmp)" />  
  </node>
  
</launch>